<html>
<head>
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% load static %}
    {% get_static_prefix as STATIC_URL %}

    <title> {% trans 'Issues \ Sign in' %} </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-based-responsive.css" type="text/css" media="screen" />
     <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"> </script>


    <style>

    </style>

    </head>

<body>
    <div class="login-content-block">
        {% if form.errors %}
        <div class="alert alert-message">
            <p style="color: red;">
                {% trans 'Please correct the errors below.' %} {{ form.errors }}
            </p>
        </div>
        {% endif %}
        <div class="login-inner-block">
            <div class="hero-unit">
                <div>
                    <h1> {% trans 'Issues' %} </h1>
                    {% include 'select-language.html' %}
                </div>
            </div>
                <br>
                <div class="login-form">
                    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                        <div id="content-main signin-form-block"  >
                            <div class="form-row">
                                <label for="id_username" class="required"> {% trans 'Name:' %} </label> {{ form.username }}
                            </div>
                            <div class="form-row">
                                <label for="id_password" class="required"> {% trans 'Password' %} </label> {{ form.password }}
                            </div>
                        </div>
                        <div>
                            <div class="submit-row signin-form-block" >
                                <label>&nbsp;</label><input type="submit" class="btn button-login" style="height:90px;" value="{% trans 'Sign in' %}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript">
    document.getElementById('id_username').focus()
</script>
</html>