<html>
<head>
    {% load static %}
    {% get_static_prefix as STATIC_URL %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-based-responsive.css" type="text/css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"> </script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"> </script>
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" />
    {% block title %} <title>  {% trans 'Issues' %} </title> {% endblock %}
</head>
<body>
<div class="login-content-block">
    {% if form.errors %}
    <div class="alert alert-message">
        <p style="color: red;">
            {% trans 'Please correct the errors below.' %} {{ form.errors }}
        </p>
    </div>
    {% endif %}
    <div class="login-inner-block">
        <div class="hero-unit">
            <div>
                <h1> {% trans 'Issues' %} </h1>
                {% include 'select-language.html' %}
            </div>
        </div>
        <br>
        <div class="login-form">
            <form action="{{hash}}" method="post">
                <div class="inp">
                    <label for="id_username"> <h2> {% trans 'Name' %}  </h2> </label> {{ form.username }}
                </div>
                <div class="inp">
                    <label for="id_password1"> {% trans 'Password' %} </label> {{ form.password1 }}
                    <label for="id_password2"> {% trans 'Password again' %} </label> {{ form.password2 }}
                </div>
                <input type="submit" class="btn button-submit-registration" style="height:70px; width: 210px;   " value="{% trans 'Register' %}" />
            </form>
        </div>
    </div>
</div></div>

</body>
<script type="text/javascript">
    document.getElementById('id_username').focus()
</script>
</html>
