<html>
<head>

    {% load static %}
    {% get_static_prefix as STATIC_URL %}

    <title> Задания \ 500 </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/timepicker.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.8.18.custom.css" type="text/css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ STATIC_URL }}jq/jquery-1.7.2.min.js"> </script>
    <script src="{{ STATIC_URL }}jq/jquery-ui-1.8.18.custom.min.js"> </script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"> </script>

    <style>
        input { height: 30px; }
        label { font-size:20px }
        .log-in-block { position:relative; float: left; width: 80%%; }
        .log-in-block div { margin-right: 50px; }
        .hero-unit { padding: 60px 60px 30px 60px; }

        .inp { position: relative; float: left;  width: 20%; min-width:200px; margin-right:60px; }

    </style>

</head>

<body>
<div style="position: relative;">
    <div class="hero-unit" style="position: relative; min-height:160px;">
        <div style="min-height:100px; margin-right:160px; margin-top:36px; position: relative; float:left;">
            <h1> 500 <small> ошибка сѣрвера </small> </h1>
        </div>

