<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% get_static_prefix as STATIC_URL %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/datepicker.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/timepicker.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-based-responsive.css" type="text/css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"> </script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-timepicker.js"></script>
    {% load markup %}
    {% load markitup_tags %}
    {% markitup_media "no-jquery" %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" />
    {% block title %} <title>  {% trans 'Issues' %} </title> {% endblock %}

    <script>
        function hideModal() {
            $('#add-task').hide()
        }
        function showModal() {
            $('#add-task').slideToggle()
            $('#id_label').focus();
        }
    </script>

    <script>
        function generate_reg_link() {
            $.ajax({
                type: "POST",
                url: "/register_link/",
                data: {
                },
                success: function(result) {
                    $('#link-modal .modal-body').empty()
                    $('#link-modal .modal-body').append(result)
                    showLink(result)
                }
            })
        }
    </script>

    <script>
        function hideLink() {
            $('#link-modal').hide()
        }

        function showLink() {
            $('#link-modal').show()
        }
    </script>
    <script>
        /* Update datepicker plugin so that MM/DD/YYYY format is used. НЕ МОЙ КОД */
        $.extend($.fn.datepicker.defaults, {
            parse: function (string) {
                var matches;
                if ((matches = string.match(/^(\d{2,2})\/(\d{2,2})\/(\d{4,4})$/))) {
                    return new Date(matches[3], matches[1] - 1, matches[2]);
                } else {
                    return null;
                }
            },
            format: function (date) {
                var
                        month = (date.getMonth() + 1).toString(),
                        dom = date.getDate().toString();
                if (month.length === 1) {
                    month = "0" + month;
                }
                if (dom.length === 1) {
                    dom = "0" + dom;
                }
                return month + "/" + dom + "/" + date.getFullYear();
            }
        });
    </script>

    <script>

        function toggleExpiration() {
            var exp_date = $('#expiration-date')
            var exp_time = $('#expiration-time')
            if (exp_date.prop('disabled') == false) {
                exp_date.prop('disabled', 'disabled')
                exp_time.prop('disabled', 'disabled')
            }
            else {
                exp_date.prop('disabled', false)
                exp_time.prop('disabled', false)
            }
        }
    </script>

    <script>
        // Quick keyboard actions handler
        $(document).ready(function () {
            $(document).keydown(function(e) {
                if (e.ctrlKey && e.keyCode == 192 ) {
                    e.preventDefault();
                    showModal()
                }
                if (e.ctrlKey && e.keyCode == 13) {
                    $('#add-issue').submit()
                }
            });
        })
    </script>

    <script>
        // Hilighting issues on tab
        $(document).ready(function () {
            var issues = $('.issue-info').find('a')
            issues.focus(function(){
                $(this).parent('td').css('background','#fff')
            }).blur(function() {
                $(this).parent('td').css('background','none')
            })
        })
    </script>

</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner nav-base">
        <div class="container">
            <div>
                <a class="brand" href="/" tabindex="-1">
                    Simplicity Tracker 0.6
                </a>
                <div class="user-logout">
                    {% include 'select_language.html' %}
                    {{ user.username }} <a href='logout/' tabindex="-1"> {% trans 'Log out' %} </a>
                </div>
                {% if page_type == 'index' %}
                    <a href="#" class="btn btn-large btn-success add-task-button" tabindex="-1" onclick="showModal()">
                        <i class="icon-plus"> </i>
                        {% trans 'Add' %}
                    </a>
                {% else %}
                    <a href="/add_task" name="add_task" class="btn btn-large btn-success add-task-button" tabindex="-1">
                        <i class="icon-plus"> </i>
                        {% trans 'Add' %}
                    </a>
                {% endif %}
                {% if user.is_staff == 1 %}
                    <a href="#" class="btn btn-large btn-info invite-user-button" tabindex="-1" onclick="generate_reg_link()"> {% trans 'Invite' %} </a>
                {% endif %}
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse issue-navigation">
                    <ul class="nav">
                        <li>
                            <a href="/" tabindex="-1">
                                {% trans 'All' %}
                            </a>
                        </li>
                        <li>
                            <a href="/current" tabindex="-1">
                                {% trans 'Current' %}
                            </a>
                        </li>
                        <li>
                            <a href="/new" tabindex="-1">
                                {% trans 'New' %}
                                <span class="badge badge-warning">
                                    {{ counter.new }}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/taken" tabindex="-1">
                                {% trans 'In progress' %}
                                <span class="badge badge-info">
                                    {{ counter.taken }}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/check" tabindex="-1">
                                {% trans 'On check' %}
                                <span class="badge badge-success">
                                    {{ counter.check }}
                                </span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" tabindex="-1" data-toggle="dropdown">
                                {% trans 'Other' %}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/done">
                                    {% trans 'Sent for check' %}
                                    <span class="badge badge-success">
                                        {{ counter.done }}
                                    </span>
                                </a>
                                </li>
                                <li>
                                    <a href="/givenbyme">
                                        {% trans 'Given by me' %}
                                    </a>
                                </li>
                                <li>
                                    <a href="/success">
                                        {% trans 'Done successfully' %}
                                    </a>
                                </li>
                                <li>
                                    <a href="/failed">
                                        {% trans 'Failed' %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="link-modal" class="modal" style="display:none;">
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="hideLink()"> {% trans 'Close' %} </a>
    </div>
</div>

    {% if add_task %}
    <script>
        $(document).ready(function () {
            $('#add-task').show()
        })
    </script>
    {% endif %}
        <div id="add-task">
            <div class="container">
                <div class="row span10 offset1">
                {% if form.errors %}
                    <script>
                        $(document).ready(function(){
                            $('#add-task').show()
                        })
                    </script>
                 <div class="alert alert-message">
                <p style="color: red;">
                        {% trans 'Please correct the errors below:' %}   {{ form.errors }}
                    </p>
                 </div>
                {% endif %}
                {% block hidden_form %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row span10 offset1" style="margin-top:55px;">
        {% block content %}
        {% endblock %}
            </div>
        </div>
        </body>
</html>