{% load i18n %}
{% load markup %}
{{ usinfo }}

{% if comments %}
<h2> {% trans 'Comments:' %} </h2>
{% endif %}
{% for comment in comments %}
<div class="well comment-form {% if comment.is_status_comment %} alert-{{comment.status_attr.alert}} {% endif %} ">
    <span>
         <span class="comment-info">
            <div>
                <h3> {{comment.author}} </h3>
            </div>
            <div>
                {{comment.date|date:"m" }}/{{comment.date|date:"d" }}
                {{comment.date|date:"H" }}:{{comment.date|date:"i" }}
            </div>
        </span>
        <span class="comment-message">
        {{comment.text|markdown}}
        </span>
    </span>
</div>
{% endfor %}