{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{% block content %}
{% if expiration_date %}
<script>
    $(document).ready(function () {
        document.getElementById('expiration-date').disabled = false
        document.getElementById('expiration-time').disabled = false
        document.getElementById('no-datetime').checked = true
        document.getElementById('expiration-date').value= '{{ expiration_date }}'

        $('.timepick').timepicker( {
            minuteStep: 15,
            showInputs: false,
            modalBackdrop: true,
            defaultTime: '{{ expiration_time }}',
            showMeridian: false})

    })
</script>
{% else %}
<script>
    $(document).ready(function () {
        document.getElementById('expiration-date').disabled = true
        document.getElementById('expiration-time').disabled = true
        document.getElementById('expiration-date').value= '{{ tomorrow }}'

        $('.timepick').timepicker( {
            minuteStep: 15,
            showInputs: false,
            modalBackdrop: true,
            showMeridian: false})
    })
</script>
{% endif %}

{% if receivers %}
<script>
    // Выделить получателей
</script>
{% else %}
<script>
    $(document).ready(function () {
        document.getElementById('id_receiver').disabled = true
        document.getElementById('receivers_all').checked = true
    })
</script>
{% endif %}
{% if form.errors %}
<div class="alert alert-message">
    <p style="color: red;">
        {% trans 'Please correct the errors below:' %}   {{ form.errors }}
    </p>
</div>
{% endif %}
<div class="edit-issue-block">
    {% include 'issue_form.html' %}
</div>
{% include 'comment_stock.html' %}
{% endblock %}




