{% extends 'base.html' %}
{% load i18n %}
{% block hidden_form %}
<script>
    $(document).ready(function () {
        $('.timepick').timepicker(        {
            minuteStep: 15,
            showInputs: false,
            modalBackdrop: true,
            showMeridian: false});
    })
</script>
{% include 'issue_form.html' %}
{% endblock %}
{% block content %}
    <table class="table table-bordered edits-dump-hidden table-issues">
        {% for issue in issues reversed %}
        {% include 'issue_block.html' %}
        {% endfor %}
    </table>
{% endblock %}