        {% load i18n %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_current_language_bidi as LANGUAGE_BIDI %}
                
            <tr class="alert alert-{{issue.attrs.alert}} issue-info">
                <td>
                    <a href="{{issue.pk}}" style="display:block; position: relative; width: 100%; height: 100%;"> <!-- Чтобы избежать наличия "div" в "a", можно <div  class='issue-base' onclick="redirect({{issue.pk}})">, в целом не так важно -->
                        <div>
                        <div class="block-icon" >
                            <span>
                                <i class="icon-{{issue.attrs.icon}}"></i>
                            </span>
                        </div>
                        <div>
                        <span>
                            <h3 class="issue-label"> {{issue.label}}
                                <small>
                                    <span>
                                        {% trans 'Author' %}: {{issue.author}}
                                    </span>
                                </small>
                            </h3>
                        </span>
                            {% if issue.status == 'new' and issue.is_expiration or issue.status == 'taken' and issue.is_expiration == 'Yes' %}
                                <div class="bar-block">
                                    <div class="bar left-time-bar" style="width:{{issue.time}}%;">
                                        <div class="arrow-right"></div>
                                     </div>
                                </div>
                            {% endif %}
                             <div class="issue-info">
                                <div class='task-properties condition' >
                                    <span class='condition-label'>
                                        {% trans 'Condition' %}:
                                    </span>
                                    {{issue.condition}}
                                </div>
                                <div class='task-properties given-time'>
                                    {% trans 'Given' %}:
                                    {{issue.given|date:"m" }}/{{issue.given|date:"d" }}
                                    в {{issue.given|date:"H" }}:{{issue.given|date:"i" }}
                                </div>
                                {% if issue.status != 'success' and issue.status != 'closed' and issue.status != 'refused' %}
                                {% if issue.is_expiration %}
                                <div class='task-properties left-time' >
                                    {% if issue.leftdays >= 0 %}
                                        {% trans 'Left' %}:
                                        {% if issue.leftdays > 1 %}
                                            {{issue.leftdays }} {% trans 'd' %}
                                        {% else %}
                                            {% if issue.lefthours > 1 %}
                                                {{ issue.lefthours }} {% trans 'h' %}
                                            {% else %}
                                                {{ issue.leftminutes }} {% trans 'min' %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if issue.leftdays < 0 %}
                                    {% trans 'Expired at' %}: {{issue.expiration|date:"m" }}/{{issue.expiration|date:"d" }}
                                    в {{issue.expiration|date:"H" }}:{{issue.expiration|date:"i" }}
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% endif %}
                                {% if issue.comments_num > 0 %}
                               <div class='task-properties comments'>
                                    {{issue.comments_num}}
                                    <i class="icon-comment"> </i>
                               </div>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </a>
                </td>
            </tr>