{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{{ usinfo }}

{% block title %}
<title>
    {{ issue.label }}
</title>
{% endblock %}

{% block content %}
<script src="http://code.jquery.com/jquery-1.7.2.min.js"> </script>
{% load markitup_tags %}
{% markitup_media "no-jquery" %}
<style>
    .markItUp { width: auto; }
    .markItUp { width: auto; }
</style>

<script>
    function hideTip() {
        $('#remove-insurance').hide()
    }
    function showTip() {
        $('#remove-insurance').show()
    }
</script>



<div id='remove-insurance' class="modal" style="display: none;">
    <div class="modal-header">
        <p> <h3>{% trans 'Are you sure?' %} </h3>  </p>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" onclick="hideTip()" > {% trans 'Cancel' %} </a>
        <a href="{{issue.id }}/remove" class="btn btn-primary">{% trans 'Remove' %} </a>
    </div>
</div>

{{ usinfo }}
<table class="table table-issues table-bordered issue-data">
    {% include 'issue_block.html' %}
    {% if issue.text %}
    <tr>
        <td class="description-cell" style="padding:16px;" colspan="8">
                <span class='issue-text'>
                    {{ issue.text|markdown }}
                </span>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <div id="issue-receivers">
                {% if receivers %}
                <b> {% trans 'Receivers: ' %} </b>
                {% for receiver in receivers %}
                {% if forloop.last %}
                {{ receiver }}.
                {% else %}
                {{ receiver }},
                {% endif %}
                {% endfor %}
                {% else %}
                {% trans 'Common issue' %}
                {% endif %}
            </div>
        </td>
    </tr>
</table>
{% if user_status == 'author' %}
<span class="edit-issue-link" >
     <a href="{{issue.id }}/edit"> {% trans 'Edit' %} </a> | <a href="#" onclick="showTip()"  > {% trans 'Remove' %} </a>
</span>
{% endif %}
<div>
    <div class="change-status">
        {% if user_status == 'receiver' and issue.status == 'new' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-primary" name="taken" value="{% trans 'Accept' %}">
            <input type="submit" class="btn btn-large btn-danger" name="refused" value="{% trans 'Refuse' %}">
        </form>
        {% endif %}
        {% if user_status == 'receiver' and issue.status == 'taken' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-success" name="done" value="{% trans 'Done' %}">
            <input type="submit" class="btn btn-large btn-danger" name="refused" value="{% trans 'Reject' %}">
        </form>
        {% endif %}

        {% if user_status == 'group_task_receiver' and issue.status == 'new' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-primary" name="taken" value="{% trans 'Accept' %}">
            <input type="submit" class="btn btn-large btn-danger" name="refused" value="{% trans 'Refuse' %}">
        </form>
        {% endif %}
        {% if user_status == 'group_task_receiver' and issue.status == 'taken' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-success" name="done" value="{% trans 'Done' %} ">
            <input type="submit" class="btn btn-large btn-danger" name="refused" value="{% trans 'Reject' %}">
        </form>
        {% endif %}
        {% if user_status == 'author' and issue.status == 'taken' or user_status == 'author' and issue.status == 'new' %}
        <form action="" method="post">
            <input type="submit" name="success" class="btn btn-large btn-success" value="{% trans 'Completed' %}">
            <input type="submit" class="btn btn-large" name="closed" value="{% trans 'Close issue' %}">
        </form>
        {% endif %}
        {% if user_status == 'author' and issue.status == 'refused' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-primary" name="new" value="{% trans 'Set back' %}">
        </form>
        {% endif %}
        {% if user_status == 'author' and issue.status == 'done' %}
        <form action="" method="post">
            <input type="submit" name="success" class="btn btn-large btn-success" value="{% trans 'Done' %}">
            <input type="submit" name="new" class="btn btn-large" value="{% trans 'Need to be redone' %}">
        </form>
    </div>
    {% endif %}
</div>

{% include 'comment_stock.html' %}

<form action="" method="post">
    <br>
    {{ form.text }}
    <button type="submit" class="btn btn-large" name="comment"> <i class="icon-comment"></i> {% trans 'Add comment' %} </button>
</form>

{% endblock %}

