            <tr class="alert alert-{{trad.attrs.alert}} trad-info">
                <td>
                    <a href="{{trad.pk}}"> <!-- Чтобы избежать наличия "div" в "a", можно <div  class='trad-base' onclick="redirect({{trad.pk}})">, в целом не так важно -->
                        <div class="block-icon" >
                            <span>
                                <i class="icon-{{trad.attrs.icon}}"></i>
                            </span>
                        </div>
                        <div>
                        <span>
                            <h3> {{trad.label}}
                                <small>
                                    <span>
                                        Автор: {{trad.author}}
                                    </span>
                                </small>
                            </h3>
                        </span>
                            {% if trad.status == 'new' and trad.is_expiration = 'Yes' or trad.status == 'taken' and trad.is_expiration == 'Yes' %}
                                <div class="bar-block">
                                    <div class="bar left-time-bar" style="width:{{trad.time}}%;">
                                        <div class="arrow-right"></div>
                                     </div>
                                </div>
                            {% endif %}
                             <div class="issue-info">
                                <div class='task-properties condition' >
                                    Состояние:
                                    {{trad.condition}}
                                </div>
                                <div class='task-properties'>
                                    Задано:
                                    {{trad.given|date:"m" }}/{{trad.given|date:"d" }}
                                    в {{trad.given|date:"H" }}:{{trad.given|date:"i" }}
                                </div>
                                {% if trad.status != 'success' and trad.status != 'closed' and trad.status != 'refused' %}
                                {% if trad.is_expiration = 'Yes' %}
                                <div class='task-properties left-time' >
                                    {% if trad.leftdays >= 0 %}
                                        Осталось:
                                        {% if trad.leftdays > 1 %}
                                            {{trad.leftdays }} дн
                                        {% else %}
                                            {% if trad.lefthours > 1 %}
                                                {{ trad.lefthours }} ч
                                            {% else %}
                                                {{ trad.leftminutes }} минут
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if trad.leftdays < 0 %}
                                    Время вышло  {{trad.expiration|date:"m" }}/{{trad.expiration|date:"d" }}
                                    в {{trad.expiration|date:"H" }}:{{trad.expiration|date:"i" }}
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% endif %}
                                {% if trad.comments_num > 0 %}
                               <div class='task-properties comments'>
                                    {{trad.comments_num}}
                                    <i class="icon-comment"> </i>
                               </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </td>
            </tr>