{% extends 'base.html' %}
{% load i18n %}
{% load markup %}
{{ usinfo }}

{% block title %}
<title>
    {{ trad.label }}
</title>
{% endblock %}

{% block content %}
<script src="http://code.jquery.com/jquery-1.7.2.min.js"> </script>
{% load markitup_tags %}
{% markitup_media "no-jquery" %}
<style>
    .markItUp { width: 967px; }
</style>


{{ usinfo }}
<div class="receivers" >
    {% if receivers %}
    {% trans 'Receivers: ' %}
    {% for receiver in receivers %}
    {% if forloop.last %}
    {{ receiver }}.
    {% else %}
    {{ receiver }},
    {% endif %}
    {% endfor %}
    {% else %}
    {% trans 'Common issue' %}
    {% endif %}
</div>
<table class="table table-bordered trad-data">
    {% include 'trad_block.html' %}
    {% if trad.text %}
    <tr>
        <td class="description-cell" style="padding:16px;" colspan="8">
                <span class='trad-text'>
                    {{ trad.text|markdown }}
                </span>
        </td>
    </tr>
    {% endif %}
</table>
{% if user_status = 'author' %}
<div class="edit-trad" >
    <a href="{{trad.id }}/edit"> {% trans 'Edit' %} </a>
</div>
{% endif %}
<div>
    <div class="change-status">
        {% if user_status == 'receiver' and trad.status == 'new' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-primary" name="taken" value="{% trans 'Accept' %}">
            <input type="submit" class="btn btn-large btn-danger" name="refused" value="{% trans 'Refuse' %}">
        </form>
        {% endif %}
        {% if user_status == 'receiver' and trad.status == 'taken' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-success" name="done" value="{% trans 'Done' %}">
            <input type="submit" class="btn btn-large btn-danger" name="refused" value="{% trans 'Reject' %}">
        </form>
        {% endif %}

        {% if user_status == 'group_task_receiver' and trad.status == 'new' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-primary" name="taken" value="{% trans 'Accept' %}">
            <input type="submit" class="btn btn-large btn-danger" name="refused" value="{% trans 'Refuse' %}">
        </form>
        {% endif %}
        {% if user_status == 'group_task_receiver' and trad.status == 'taken' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-success" name="done" value="{% trans 'Done' %} ">
            <input type="submit" class="btn btn-large btn-danger" name="refused" value="{% trans 'Reject' %}">
        </form>
        {% endif %}
        {% if user_status == 'author' and trad.status == 'taken' or user_status == 'author' and trad.status == 'new' %}
        <form action="" method="post">
            <input type="submit" name="success" class="btn btn-large btn-success" value="{% trans 'Done successfully' %}">
            <input type="submit" class="btn btn-large" name="closed" value="{% trans 'Close issue' %}">
        </form>
        {% endif %}
        {% if user_status == 'author' and trad.status == 'refused' %}
        <form action="" method="post">
            <input type="submit" class="btn btn-large btn-primary" name="new" value="{% trans 'Set back' %}">
        </form>
        {% endif %}
        {% if user_status == 'author' and trad.status == 'done' %}
        <form action="" method="post">
            <input type="submit" name="success" class="btn btn-large btn-success" value="{% trans 'Done' %}">
            <input type="submit" name="new" class="btn btn-large" value="{% trans 'Need to be redone' %}">
        </form>
    </div>
    {% endif %}
</div>
{% if comments %}
<h2> {% trans 'Comments:' %} </h2>
{% endif %}

{% for comment in comments %}
<div class="well comment-form {% if comment.type == 'status_cmt' %} alert-{{comment.status_attr.alert}} {% endif %} ">
        <span>
        {% if comment.type == 'status_cmt' %}
        <h3> {{ comment.text }} </h3>
        {% else %}
        {{comment.text|markdown}}
        {% endif %}
        </span>
        <span class="comment-info">
            <div>
                <h3> {{comment.author}} </h3>
            </div>
            <div>
                {{comment.date|date:"m" }}/{{comment.date|date:"d" }}
                {{comment.date|date:"H" }}:{{comment.date|date:"i" }}
            </div>
        </span>
</div>
{% endfor %}


<form action="" method="post">
    <br>
    {{ form.text }}
    <button type="submit" class="btn btn-large" name="comment"> <i class="icon-comment"></i> {% trans 'Add comment' %} </button>
</form>

{% endblock %}

